<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add a </title>
    
</head>
<body>
    <h1>Add a new animal</h1>
    <form action=/ method=post>
    <label for="name">Name</label>
    <input name="name" type="text">
<br>
    <label for="type">Type</label> <br>

    <input type="radio" name="type" value="cat"> cat<br>
    <input type="radio" name="type" value="dog"> dog<br>
    <input type="radio" name="type" value="rabbit"> rabbit<br>

        <label for="place">Place</label> <br>
    
        <input type="radio"  name="place" value="Brooklyn Animal Care Center"> Brooklyn Animal Center<br>
        <input type="radio"  name="place" value="Manhattan Animal Care Center"> Manhattan Animal Center <br>
        <input type="radio"  name="place" value="Bronx Admissions Center"> Bronx Admissions Center<br>

        <label for="description">Description</label>
        <input type="text" name="description">

        <label for="sex">sex</label> <br>
        <input type="radio" name="sex" value="male"> male <br>
        <input type="radio" name="sex" value="female"> female <br>
  
        <label for="age">age</label>
        <input type="number" name="age"> <br>

        <label for="vaccinated">vaccinated</label> <br>
        <input type="radio" name="vaccinated" value="yes"> yes <br>
        <input type="radio" name="vaccinated" value="no"> no <br>

        <label for="vaccinated">declawed</label> <br>
        <input type="radio" name="declawed" value="yes"> yes <br>
        <input type="radio" name="declawed" value="no"> no <br>

        <label for="primaryColor">primary Color</label>
        <input type="text" name="primaryColor"> <br>

        <label for="secondaryColor">secondary Color</label>
        <input type="text" name="secondaryColor"> <br>
<label for="size">size</label> <br>
           <label>Small</label>
           <input type="radio" name="size" value="small">
           <label>Medium</label>
           <input type="radio" name="size" value="medium">
           <label>Large</label>
           <input type="radio" name="size" value="large">
<label for="length">Length</label> <br>
        <label>Short</label>
        <input type="radio" name="length" value="short">
        <label>Medium</label>
        <input type="radio" name="length" value="medium">
        <label>Long</label>
        <input type="radio" name="length" value="long">

        <label for="weight">weight</label>
        <input type="number" name="weight"><br>

        <label for="intake">intake</label>
        <input  type="date" name="intake"><br>
        
        <input type="submit" value="send"> 
    </form>
</body>
<script src="index.js"></script>
</html>

